.nav {
  background-color: lightcoral;
}

body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background: rgb(20, 20, 20);
    color: whitesmoke;
    font-family: "Montserrat", sans-serif
  }

  .sidebar {
  background-color: magenta;

    width: 120px;
    background: #222;
  }

  .time-display
  {
    background-color: lightskyblue;

    text-align: right;
    font-weight: 600;
    padding: 2em 1em  1em 1em;
  }
  
  .footer {
    background-color: violet;
  }

  .footer li {
    list-style: none;
  }