.flexbox-container
{
    display: flex;
}

.flexbox-item
{
    height: auto;
    margin: 10px;
    border: 3px solid #333;
    padding: 20px;
    background-color: #dfdfdf;
    flex-shrink: 0;
    flex-grow: 0;
}

.flexbox-item li
{
    list-style: none;
    font-size: 22px;
    font-weight: var(--fs);
    font-style: normal;

    line-height: 2em;
}

.flexbox-title
{
    padding-bottom: 20px;
}