/* NETWORK */
.newtork-status
{
    margin: 10px;
    border: 3px solid #333;
    padding: 20px;
    background-color: #dfdfdf;

    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.newtork-status.online
{
    background: green;
}

.newtork-status.offline
{
    background:  red;
}