.tab_container {
    padding: 0.25em;
}

.tab__button_container {
    display: flex;
}

.tab_content_container {
    display: flex;
    background-color:#dddddd;
}

.tab__button {
    background: #cccccc;
    width: 100%;
    padding: 0.25em;
    outline: none;
    border-style: unset;
}

.tab__button:active {
    background: #dddddd;
}

.tab__button--active {
    font-weight: bold;
    background: #dddddd;
}

.tab__content {
    display: none;
    padding: 10px;
    font-size: 0.8rem;
    list-style: none;
}

.tab__content--active {
    display: flex;
    flex-direction: column;
}