*{
    box-sizing: border-box;
}

.tab_container {
    border: 1px solid #cccccc;
}

.tab__sidebar {
    display: flex;
    background: #eeeeee;
}

.tab__button {
    display: block;
    padding: 1em;
    background: #cccccc;
    width: 100%;
    border: none;
    outline: none;
}

.tab__button:active {
    background: #dddddd;
}

.tab__button--active {
    font-weight: bold;
    background: #dddddd;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 0px solid black;
    border-left: 2px solid black;
    margin-bottom: -2px;
}

.tab_contents {
    background-color: #dddddd;
}

.tab__content {
    display: none;
    border: 2px solid black;
    padding: 15px;
    font-size: 0.8rem;
    list-style: none;
}

.tab__content--active {
    display: block;
}